<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>An Example Title</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <h1>Hello, <%= name %>!</h1>
    <p>This site was accessed at <%= date %></p>
	<p>You are visitor #<%= visitorId %></p>
	<% if ( visitTime == null ) { %>
      <p>You have never visited</p>
    <% } else {%>
	  <p>You have visited this site <%= visitTime %> seconds ago </p>
    <% } %>
  </body>
</html>